#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.templateBox {
  /* width: 40rem;
  height: 40rem; */

  /* background-color: green; */
  background-image: url("assets/spraywall.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
}